In [ ]:
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('customer.csv')
df.head(5)
df

    age  gender   review education     island purchased
0    30  Female  Average    School     Biscoe        No
1    68  Female     Poor        UG      Dream        No
2    70  Female     Good        PG  Torgersen        No
3    72  Female     Good        PG     Biscoe        No
4    16  Female  Average        UG      Dream        No
5    31  Female  Average    School  Torgersen       Yes
6    18    Male     Good    School        NaN        No
7    60  Female     Poor    School     Biscoe       Yes
8    65  Female  Average        UG      Dream        No
9    74    Male     Good        UG  Torgersen       Yes
10   98  Female     Good        UG      Dream       Yes
11   74    Male     Good        UG  Torgersen       Yes
12   51    Male     Poor    School  Torgersen        No
13   57  Female  Average    School      Dream        No
14   15    Male     Poor        PG  Torgersen       Yes
15   75    Male     Poor        UG     Biscoe        No
16   59    Male     Poor        UG      Dream       Yes
17   22  Female     Poor        UG  Torgersen       Yes
18   19    Male     Good    School      Dream        No
19   97    Male     Poor        PG  Torgersen       Yes
20   57  Female  Average    School      Dream       Yes
21   32    Male  Average        PG  Torgersen        No
22   18  Female     Poor        PG      Dream       Yes
23   96  Female     Good    School  Torgersen        No
24   16  Female  Average        PG      Dream       Yes
25   57  Female     Good    School  Torgersen        No
26   53  Female     Poor        PG      Dream        No
27   69  Female     Poor        PG  Torgersen        No
28   48    Male     Poor    School      Dream        No
29   83  Female  Average        UG  Torgersen       Yes
30   73    Male  Average        UG      Dream        No
31   22  Female     Poor    School  Torgersen       Yes
32   92    Male  Average        UG      Dream       Yes
33   89  Female     Good        PG  Torgersen       Yes
34   86    Male  Average    School      Dream        No
35   74    Male     Poor    School  Torgersen       Yes
36   34  Female     Good        UG      Dream       Yes
37   94    Male  Average        PG  Torgersen       Yes
38   45  Female     Good    School      Dream        No
39   76    Male     Poor        PG  Torgersen        No
40   39    Male     Good    School      Dream        No
41   23    Male     Good        PG  Torgersen       Yes
42   30  Female     Good        PG      Dream       Yes
43   27    Male     Poor        PG  Torgersen        No
44   77  Female  Average        UG     Biscoe        No
45   61    Male     Poor        PG      Dream       Yes
46   64  Female     Poor        PG     Biscoe        No
47   38  Female     Good        PG      Dream       Yes
48   39  Female     Good        UG     Biscoe       Yes
49   25  Female     Good        UG      Dream        No

In [ ]:
df = df.iloc[:,2:]
df

     review education     island purchased
0   Average    School     Biscoe        No
1      Poor        UG      Dream        No
2      Good        PG  Torgersen        No
3      Good        PG     Biscoe        No
4   Average        UG      Dream        No
5   Average    School  Torgersen       Yes
6      Good    School        NaN        No
7      Poor    School     Biscoe       Yes
8   Average        UG      Dream        No
9      Good        UG  Torgersen       Yes
10     Good        UG      Dream       Yes
11     Good        UG  Torgersen       Yes
12     Poor    School  Torgersen        No
13  Average    School      Dream        No
14     Poor        PG  Torgersen       Yes
15     Poor        UG     Biscoe        No
16     Poor        UG      Dream       Yes
17     Poor        UG  Torgersen       Yes
18     Good    School      Dream        No
19     Poor        PG  Torgersen       Yes
20  Average    School      Dream       Yes
21  Average        PG  Torgersen        No
22     Poor        PG      Dream       Yes
23     Good    School  Torgersen        No
24  Average        PG      Dream       Yes
25     Good    School  Torgersen        No
26     Poor        PG      Dream        No
27     Poor        PG  Torgersen        No
28     Poor    School      Dream        No
29  Average        UG  Torgersen       Yes
30  Average        UG      Dream        No
31     Poor    School  Torgersen       Yes
32  Average        UG      Dream       Yes
33     Good        PG  Torgersen       Yes
34  Average    School      Dream        No
35     Poor    School  Torgersen       Yes
36     Good        UG      Dream       Yes
37  Average        PG  Torgersen       Yes
38     Good    School      Dream        No
39     Poor        PG  Torgersen        No
40     Good    School      Dream        No
41     Good        PG  Torgersen       Yes
42     Good        PG      Dream       Yes
43     Poor        PG  Torgersen        No
44  Average        UG     Biscoe        No
45     Poor        PG      Dream       Yes
46     Poor        PG     Biscoe        No
47     Good        PG      Dream       Yes
48     Good        UG     Biscoe       Yes
49     Good        UG      Dream        No

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('customer.csv')
from sklearn import preprocessing

In [ ]:
my_label=preprocessing.LabelEncoder()
df['purchased']=my_label.fit_transform(df['purchased'])
print(df)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
df[['review','education']]=oe.fit_transform(df[['review','education']])
print(df)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
df[['review','education']]=oe.fit_transform(df[['review','education']])
print(df)

In [ ]:
pd.get_dummies(df,columns=['gender'],drop_first=True)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from seaborn import load_dataset
import numpy as np
from sklearn.preprocessing import OneHotEncoder
oe = OneHotEncoder(handle_unknown='ignore')
#oe = OneHotEncoder(categories=['island'])
#df['island']=oe.fit_transform(df['island'])
x=pd.DataFrame(oe.fit_transform(df[['island']]).toarray())
# merge with main df bridge_df on key values
bridge_df =x.join(df)
print(bridge_df)
#print(df)

      0    1    2    3  age  gender   review education     island purchased
0   1.0  0.0  0.0  0.0   30  Female  Average    School     Biscoe        No
1   0.0  1.0  0.0  0.0   68  Female     Poor        UG      Dream        No
2   0.0  0.0  1.0  0.0   70  Female     Good        PG  Torgersen        No
3   1.0  0.0  0.0  0.0   72  Female     Good        PG     Biscoe        No
4   0.0  1.0  0.0  0.0   16  Female  Average        UG      Dream        No
5   0.0  0.0  1.0  0.0   31  Female  Average    School  Torgersen       Yes
6   0.0  0.0  0.0  1.0   18    Male     Good    School        NaN        No
7   1.0  0.0  0.0  0.0   60  Female     Poor    School     Biscoe       Yes
8   0.0  1.0  0.0  0.0   65  Female  Average        UG      Dream        No
9   0.0  0.0  1.0  0.0   74    Male     Good        UG  Torgersen       Yes
10  0.0  1.0  0.0  0.0   98  Female     Good        UG      Dream       Yes
11  0.0  0.0  1.0  0.0   74    Male     Good        UG  Torgersen       Yes
12  0.0  0.0  1.0  0.0   51    Male     Poor    School  Torgersen        No
13  0.0  1.0  0.0  0.0   57  Female  Average    School      Dream        No
14  0.0  0.0  1.0  0.0   15    Male     Poor        PG  Torgersen       Yes
15  1.0  0.0  0.0  0.0   75    Male     Poor        UG     Biscoe        No
16  0.0  1.0  0.0  0.0   59    Male     Poor        UG      Dream       Yes
17  0.0  0.0  1.0  0.0   22  Female     Poor        UG  Torgersen       Yes
18  0.0  1.0  0.0  0.0   19    Male     Good    School      Dream        No
19  0.0  0.0  1.0  0.0   97    Male     Poor        PG  Torgersen       Yes
20  0.0  1.0  0.0  0.0   57  Female  Average    School      Dream       Yes
21  0.0  0.0  1.0  0.0   32    Male  Average        PG  Torgersen        No
22  0.0  1.0  0.0  0.0   18  Female     Poor        PG      Dream       Yes
23  0.0  0.0  1.0  0.0   96  Female     Good    School  Torgersen        No
24  0.0  1.0  0.0  0.0   16  Female  Average        PG      Dream       Yes
25  0.0  0.0  1.0  0.0   57  Female     Good    School  Torgersen        No
26  0.0  1.0  0.0  0.0   53  Female     Poor        PG      Dream        No
27  0.0  0.0  1.0  0.0   69  Female     Poor        PG  Torgersen        No
28  0.0  1.0  0.0  0.0   48    Male     Poor    School      Dream        No
29  0.0  0.0  1.0  0.0   83  Female  Average        UG  Torgersen       Yes
30  0.0  1.0  0.0  0.0   73    Male  Average        UG      Dream        No
31  0.0  0.0  1.0  0.0   22  Female     Poor    School  Torgersen       Yes
32  0.0  1.0  0.0  0.0   92    Male  Average        UG      Dream       Yes
33  0.0  0.0  1.0  0.0   89  Female     Good        PG  Torgersen       Yes
34  0.0  1.0  0.0  0.0   86    Male  Average    School      Dream        No
35  0.0  0.0  1.0  0.0   74    Male     Poor    School  Torgersen       Yes
36  0.0  1.0  0.0  0.0   34  Female     Good        UG      Dream       Yes
37  0.0  0.0  1.0  0.0   94    Male  Average        PG  Torgersen       Yes
38  0.0  1.0  0.0  0.0   45  Female     Good    School      Dream        No
39  0.0  0.0  1.0  0.0   76    Male     Poor        PG  Torgersen        No
40  0.0  1.0  0.0  0.0   39    Male     Good    School      Dream        No
41  0.0  0.0  1.0  0.0   23    Male     Good        PG  Torgersen       Yes
42  0.0  1.0  0.0  0.0   30  Female     Good        PG      Dream       Yes
43  0.0  0.0  1.0  0.0   27    Male     Poor        PG  Torgersen        No
44  1.0  0.0  0.0  0.0   77  Female  Average        UG     Biscoe        No
45  0.0  1.0  0.0  0.0   61    Male     Poor        PG      Dream       Yes
46  1.0  0.0  0.0  0.0   64  Female     Poor        PG     Biscoe        No
47  0.0  1.0  0.0  0.0   38  Female     Good        PG      Dream       Yes
48  1.0  0.0  0.0  0.0   39  Female     Good        UG     Biscoe       Yes
49  0.0  1.0  0.0  0.0   25  Female     Good        UG      Dream        No

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from seaborn import load_dataset
import numpy as np
df = load_dataset('penguins')
df

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
x=pd.DataFrame(enc.fit_transform(df[['island']]).toarray())
# merge with main df bridge_df on key values
bridge_df =x.join(df)
bridge_df

,0,1,2,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0.0,0.0,1.0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,0.0,0.0,1.0,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,0.0,0.0,1.0,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,0.0,0.0,1.0,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,1.0,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...,...,...,...
339,1.0,0.0,0.0,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,1.0,0.0,0.0,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,1.0,0.0,0.0,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,1.0,0.0,0.0,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,1.0,0.0,0.0,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('customer.csv')
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test= train_test_split(df.iloc[:,2:4],df.iloc[:,-1],test_size= 0.2)

In [ ]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [ ]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [ ]:
x_train = oe.transform(x_train)

In [ ]:
x_train

In [ ]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [ ]:
x_train

In [ ]:
import pandas as pd
from sklearn import preprocessing
my_data={
"Gender":['F','M','M','F','M','F','M','F','F','M'],
"Name":['Shweta','Rohit','Abhay','Surbhi','Amit','Sara','Vicky','Mehak','Sita','Saurabh']}
blk=pd.DataFrame(my_data)
print(blk)
my_label=preprocessing.LabelEncoder()
blk['Gender']=my_label.fit_transform(blk['Gender'])
print(blk['Gender'].unique())
print("DataFrameafterLabelEncoding:\n")
print(blk)

In [ ]:
import pandas as pd
from sklearn import preprocessing
df = pd.read_csv('customer.csv')
blk=pd.DataFrame(df)
print(blk)
my_label=preprocessing.LabelEncoder()
blk['purchased']=my_label.fit_transform(blk['purchased'])
print(blk['purchased'].unique())
print("DataFrameafterLabelEncoding:\n")
print(blk)

In [ ]:
import pandas as pd
df = pd.read_csv('customer.csv')

In [ ]:
df.head()

In [ ]:
df['gender'].value_counts()

Female    29
Male      21
Name: gender, dtype: int64

In [ ]:
pd.get_dummies(df,columns=['gender'])

In [ ]:
counts = df['island'].value_counts()
counts

In [ ]:
ohe = OneHotEncoder()
transformed =pd.DataFrame(ohe.fit_transform(df[['island']]).toarray())
new_df=df.join(transformed)
print(new_df)

In [ ]:
ohe = OneHotEncoder()
transformed =pd.DataFrame(ohe.fit_transform(df[['island']]).toarray())
new_df=df.join(transformed)
print(new_df)